{% extends 'base.html' %} 

{% block head %}
<link rel="stylesheet" href="/static/css/styles.css">
<title>Generator</title>
{% endblock %}

{% block body %}
<div>
    <h1 class="header">Generator</h1>
    <div class="container">
        <a class="button" href="/signing" > Sign (keys required)</a>
        <a class="button" href="/generating" > Generating</a>
        <a class="button" href="upload">Import own keys</a>
        <a class="button" href="clear">Clear keys</a>
        <a class="button" href="list">View current keys</a>
    </div>
</div>
{% endblock %}