{% extends 'base.html' %} 

{% block head %}
<link rel="stylesheet" href="/static/css/styles.css">
<title>Verify</title>
{% endblock %}

{% block body %}
<div>
    <h1 class="header">Verify your signed file</h1>
    <div class="message">
        <p class="">(Private/Public + .pem filename required)</p>
    </div>
    <div class="container">
        <form action="/verifier" method="POST" enctype="multipart/form-data">
            <div class="upload">
                <label for="file">Original File</label>
                <input type="file" name="file" class="input">
            </div>
            <div class="upload">
                <label for="file">Signed File</label>
                <input type="file" name="file" class="input">
            </div>
            <div class="upload">
                <label for="file">Public Key</label>
                <input type="file" name="file" class="input">
            </div>
            <input type="submit" value="Verify" class="button">

            <p class="message">{{ message }}</p>
        </form>
    </div>
</div>
{% endblock %}